<!DOCTYPE html>
<html>
<head>
  <title>Larch</title>
  <%= stylesheet_link_tag    "larch/application", media: "all" %>
  <%= javascript_include_tag "larch/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
